html,
body {
  height: 100%;
}

body {
  background-image: url('./img/backgroung-img.png');
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.quote-list {
  margin-top: 20px;
}
.quote-item {
  margin: 10px 0;
}

.view-container {
  display: flex;
  justify-content: center;
}