nav {
    height: 4rem;
    background-color: rgba(129, 125, 119, 0.6);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.nav-button {
    border: none;
    background-color: rgba(129, 125, 119, 0.5);
    color: antiquewhite;
    font-weight: 700;
    padding: 1rem;
    border-radius: 0.3rem;
}

.nav-button:hover {
    color: rgb(214, 201, 184);
    background-color: rgba(129, 125, 119, 0.8);
    cursor: pointer;
}
  
.logo-img {
    height: 100%;
}